@{
    Layout = "~/_sitelayout.cshtml";
    Page.Title = "Log Saving";

    //variables to be logged into the database
    var db = Database.Open("Users");
    var userId = WebSecurity.CurrentUserId; //your user id

    var name = "";
    var date = DateTime.Today.Date.ToString("yyyy-MM-dd");
    int goal = 0;
    decimal amount = 0;
    var notes = "";

    //possible error strings
    var nameErr = "";
    var dateErr = "";
    var amountErr = "";
    var goalErr = "";

    //existant goals
    var garden = db.Query(@"SELECT Id, descriptName, Plant FROM Goals WHERE UserId = @0", userId).ToList();

    var success = "";

   //fetch from form
   if (IsPost) {
       name = Request.Form["name"];
       goal = Request.Form["goal"].AsInt();
       amount = Request.Form["amount"].AsDecimal();
       date = Request.Form["date"];
       notes = Request.Form["notes"];

       //generating error messages
       if (name == ""){
           nameErr = "a name is required for your expense";
       } else if (date == ""){
           dateErr = "a date of spending is required";
       } else if (amount == 0){
           amountErr = "an amount spent is needed to be logged";
       } else if (goal == 0){
           goalErr = "you need a goal to save to";
       } else {
           var logSaving = "INSERT INTO Savings (UserId, GoalsId, descriptName, Amount, Date, Notes) VALUES (@0, @1, @2, @3, @4, @5)";
           db.Execute(logSaving, userId, goal, name, amount, date, notes);
           success = "success!";
       }
   }
}


@if (WebSecurity.IsAuthenticated) {
    <h2>log saving</h2>
    <form method="post">
        <div class="form-group">
            <!--name box-->
            <label for="name">name</label><br/>
            <input type="text" id="name" name="name" maxlength="50" value="@name" placeholder="name of saving" class="form-control" /> 
            <i>@nameErr</i><br />

            <!--goal to save to-->
            <label for="goal">save to goal</label>
            <select class="form-control" id="goal" name="goal">
                @foreach (var item in garden){
                    <option value="@item.Id">@item.descriptName</option>
                }
            </select> <br />

            <!--amount box-->
            <label for="amount">amount</label><br/>
            <input type="text" id="amount" name="amount" value="@amount" class="form-control" /> 
            <i>@amountErr</i> <br />

            <!--date box-->
            <label for="date">date</label> <br />
            <input type="date" id="date" name="date" value="@date" class="form-control" /> 
            <i>@dateErr</i><br />

            <!--type box-->
            <label for="notes">notes</label><br/>
            <textarea id="notes" name="notes" rows="3" maxlength="500" class="form-control" placeholder="your notes and thoughts">@notes</textarea>  
            <br />
            <p style="font-family:'Quicksand'; font-size:13pt ;color: #b3cf1d"><b>@success</b></p>

            <!--Submit-->
            <input type="submit" value="submit" class="btn btn-info" />
        </div>
    </form>
} else {
    <p>sorry, you need to <a href="~/Account/login">log in</a> or <a href="~/Account/register">register</a> to use our services.</p>
}
